# Xamarin Build/test output
[Bb]in/
[Oo]bj/
test-results
Components/*
.DS_Store

#Autosave files
*~

# Build/test output
obj
bin

# VS sometimes writes these for no apparent reason
_UpgradeReport_Files
UpgradeLog.*

# Per-user data
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover


#build
packages/
TestResults/
Components/

# globs
Makefile.in
*.cache
*.pidb
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app
